node_modules
.next
dist
scrawler
next-env.d.ts
tsconfig.tsbuildinfo

.git
.gitignore
.github

.env
.env*.local
.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.idea

Dockerfile
.dockerignore
README.md
.repowise
